body {
    background-color: rgb(150, 213, 250);
}
/* index.html */
#bio-data {
    border-style: solid;
    border-width: 3px;
    border-color: darksalmon;
    border-radius: 15px;
    color: darkcyan;
}


#heading-index {
    color: #ee4e80;
    
}

.paragraph {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: justify;
}

#list-index{
    
    font-size: 20px;
    text-align: justify;
}

/* me.html */
#heading1-me {
    border-style: dotted;
    border-width: 4px;
    border-color: white;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    
}

#heading2-me{
    font-size: 24px;
    text-align: center;
    color: rgb(11, 129, 165);
}

#list-me{
    text-align: center;
}

#image-me {
    width: 300px; 
    height: 200px; 
    border: 2px solid #555;
    border-radius: 10px;
    opacity: 0.8;
    display: block;
    margin: 0 auto;
}


p {
    color: black;
}

ul {
    list-style-type: square; 
    margin-left: 10px; 
    color: black;
}

ol {
    list-style-type: square; 
    margin-left: 3px; 
}



a:link {
    text-decoration: none; 
    color: #007acc; 
}

a:hover {
    text-decoration: underline; 
    color: #551a8b; 
}

a:visited {
    color: green; 
}



/* Contact.html */
.form-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}


.form-container h1 {
    font-size: 24px;
    color: #333;
}


label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}
table {
    margin: 0 auto; 
    border-collapse: collapse; 
    width: 80%; 
}
table, th, td {
    border:1px solid black;
    border-radius: 10px;
    background-color: lightblue;
  }


input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}
